--
-- PostgreSQL database dump
--

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: companies; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.companies (id, created_at, updated_at, name, rut, address, active) FROM stdin;
013cbf21-6540-4cbd-9da6-7dfaf52c0527	2026-06-10 23:53:58.401088+00	2026-06-10 23:53:58.401088+00	Gava 	12345678-9	obispo uma├▒a 2855	t
7302825c-9d65-421f-b80f-a18e46d4817d	2026-06-11 00:00:49.66086+00	2026-06-11 00:00:49.66086+00	coca cola	111111111-1	av la monta├▒a 1244	t
\.


--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.departments (id, created_at, name, company_id) FROM stdin;
0772ab56-8ebe-4719-9fc0-958fd54eefd0	2026-06-11 00:04:24.775048+00	Despacho	013cbf21-6540-4cbd-9da6-7dfaf52c0527
b8cb06cc-2ced-405b-8d68-6d975dcc2798	2026-06-27 19:24:39.114541+00	ventas	013cbf21-6540-4cbd-9da6-7dfaf52c0527
426a80c6-ea65-4058-8214-8876290b33b2	2026-06-27 19:24:47.345926+00	bodega	013cbf21-6540-4cbd-9da6-7dfaf52c0527
23cd7c69-02ca-4c0e-8203-a14257873537	2026-06-27 19:24:55.546232+00	picking	013cbf21-6540-4cbd-9da6-7dfaf52c0527
\.


--
-- Data for Name: employees; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: attendance; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.attendance (id, employee_id, attendance_date, check_in, check_out, worked_minutes, overtime_minutes, status, created_at, updated_at) FROM stdin;
51ce48be-6b52-413f-9a56-718114c44dca	7bab372a-2fb3-4d85-8cf0-b3d28050b8b0	2026-06-11	2026-06-11 00:23:34.436019+00	\N	0	0	present	2026-06-11 00:23:34.436019+00	2026-06-11 00:23:34.436019+00
\.


--
-- Data for Name: attendance_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: company_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.company_settings (id, company_id, work_hours_day, geo_lat, geo_lng, geo_radius_m, vacation_days, created_at, updated_at, work_start_time, work_end_time, work_days, late_tolerance_minutes) FROM stdin;
95e46a2b-cc2e-4c41-84cd-cfd10429f4fb	013cbf21-6540-4cbd-9da6-7dfaf52c0527	8.00	-33.4618484	-70.6023472	500	15	2026-06-22 11:59:55.470807+00	2026-06-27 17:55:20.435793+00	09:00:00	18:00:00	{monday,tuesday,wednesday,thursday,friday}	15
\.


--
-- Data for Name: overtime_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: profiles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: vacation_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: vacations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.vacations (id, employee_id, start_date, end_date, status, approved_by, created_at) FROM stdin;
\.


--
-- PostgreSQL database dump complete
--

